<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row text-center text-md-left">
            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-uppercase text-danger">BookMyCut</h5>
                <p>&copy; {{ "now"|date("Y") }} Tous droits réservés.</p>
                <p>Transformez votre style chez nous.</p>
            </div>

            <div class="col-md-4 mb-4 mb-md-0">
                <h5 class="text-uppercase text-danger">Horaires</h5>
                <ul class="list-unstyled">
                    <li>Lundi - Vendredi : 9h - 18h</li>
                    <li>Samedi : 9h - 14h</li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5 class="text-uppercase text-danger">Contactez-nous</h5>
                <ul class="list-unstyled">
                    <li>Email : <a class="text-white" href="mailto:contact@bookmycut.com">contact@bookmycut.com</a></li>
                    <li>Téléphone : <a class="text-white" href="tel:+33123456789">01 23 45 67 89</a></li>
                    <li>Adresse : 123 Rue de la Beauté, Paris</li>
                </ul>
            </div>
        </div>

        <hr class="bg-light my-4">

        <div class="text-center">
            <p class="mb-0">Suivez-nous sur :
                <a class="text-white mx-2" href="#"><i class="fab fa-facebook"></i></a>
                <a class="text-white mx-2" href="#"><i class="fab fa-instagram"></i></a>
                <a class="text-white mx-2" href="#"><i class="fab fa-twitter"></i></a>
            </p>
        </div>
    </div>
</footer>
