{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
	<style>
		.required-star {
			color: red;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="hero mb-4">
		<div class="container text-center">
			<h1>Connexion</h1>
			<p>Connectez-vous juste ici !</p>
		</div>
	</div>
	<div class="p-4 mx-auto" style="max-width: 600px; background: transparent; box-shadow: none;">
		<h3 class="text-center mb-3">Se Connecter</h3>
		<p class="text-center mb-3">Nouveau sur le site ?
			<a href="/registration" style="color:black">S'inscrire</a>
		</p>
		<form>
			<div class="mb-3">
				<label for="email" class="form-label">Email
					<span class="required-star">*</span>
				</label>
				<input type="email" class="form-control" id="email" style="border-color: black; border-width: 2px" placeholder="Entrez votre email" required>
			</div>
			<div class="mb-3">
				<label for="password" class="form-label">Mot de passe
					<span class="required-star">*</span>
				</label>
				<input type="password" class="form-control" id="password" style="border-color: black; border-width: 2px" placeholder="Entrez votre mot de passe" required>
			</div>
			<div class="container text-center">
				<button type="submit" class="btn btn-danger btn-lg">Connexion</button>
			</div>
		</form>
	</div>


{% endblock %}
