<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">

    {% block stylesheets %}
    {% endblock %}

    <style>
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
            padding-top: 56px;
            min-width: 375px;
        }

        .fond-site {
            background-image: url('img/background.png');
            background-repeat: repeat;
            background-size: 150px 150px;
            position: fixed;
            width: 100%;
            height: 100%;
            opacity: 0.1;
            z-index: -1;
        }
    </style>
</head>

{% include '/fragments/header.html.twig' %}

<body>
    <div class="fond-site"></div>
    {% block body %}
    {% endblock %}
</body>

{% include '/fragments/footer.html.twig' %}

{% block javascripts %}
{% endblock %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
